.container{
	padding: 0 20px;
	
}
@media (min-width: 900px) {
    .container {
        padding: 0 180px;
    }
}
img{
	width: 200px;
	height:80px;
}
.header{
	background-color: #BE1622 ;
	color: white;
	display: flex; 
	align-items: center; 
	text-align: center; 
	padding: 0 20px; 
	justify-content: space-between; 
	height: 130px;
	flex-wrap: wrap;
	/* font-family: Verdana;  */
	/* size: 20px; */
}
.header img {
	max-width: 120px;
	height: auto;
}
.menu a{
	color: white;
	margin-left: 20px;
	text-decoration: none;
	
}
.logo_and_text {
    display: flex;
    align-items: center;
}
.logo_and_text h3 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}
.opportunity{
   color: #34516C;
   font-family: Helvetica;
   font-size: 36px;
   font-weight: bold;
   
}
.main_text{
	font-family: Helvetica;
	font-size: 16px;
	
}
.student_union{
	font-family: Helvetica;
	font-size: 16px;
	
}
.together{
	font-family: Helvetica;
	font-size: 32px;
	color: #F2BE1A;
	
}
.community{
	font-family: Helvetica;
	font-size: 32px;
	color: #F2BE1A;
	
}
/* .video1 iframe{ */
	/* max-width: 100%; */
	/* width: 100%; */
	/* height: auto; */
/* } */
 .video1{ 
	
	 display: flex; 
	 justify-content: center;  
	 /* align-items: center; */ 
 } 
.video2{
	
	display: flex;
	justify-content: center; 
	
	 /* align-items: center;  */
}
footer{
	margin-top: 30px;
	background-color: #34516C;
	justify-content: space-between;
	color: white;
	display: flex;
	padding: 30px;
}

.product {
	width: 300px;
	border: 1px solid #007F80;
	border-radius: 10px;
	background-color: #C7CBDA;
}
.product img {
	width: 100%;
	height: 50%;
}
.cataloge{
	font-family: Helvetica;
    text-align: center;
	padding: 10px;
}

#products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	justify-content: center;
	/* margin-left: 300px; */
	/* margin-right: 300px; */
	margin: 0 auto;
	max-width: 1000px;
}
.name{
	color: #BE1622;
	font-family: Helvetica;
	font-size: 28px;
	margin-left: 30px;
	margin-right: 30px;
	font-weight: bold;
}

.description{
	font-family: Helvetica;
	font-size: 14px;
	margin-left: 30px;
	margin-right: 30px;

}
.color{
	font-family: Helvetica;
	font-size: 14px;
	margin-left: 30px;
	margin-right: 30px;
}
.price{
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 30px;
	margin-right: 30px;
	color: #BE1622;
}
.buy_btn{
	background-color: #9BCB4E;
	display: block;
	margin: 10px auto;
	padding: 6px 15px;
	font-size: 14px;
	border-radius: 10px;
	
}
.shoppingCart{
	font-family: Helvetica;
	font-size: 32px;
	color: #F2BE1A;
	margin-left: 40px;
}
.cart_text{
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 40px;
}
.empty{
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 40px;
}
.item{
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 40px;
	
}
.clearCart{
	background-color: #C7CBDA;
	/* display: block; */
	/* margin-left: 40px; */
	padding: 6px 15px;
	font-size: 14px;
	border-radius: 10px;
}
.clearCart:hover{
	background-color: #919CAD;
}

.menu .icon {
  display: none;
  
}
.menu a {
	color: white;
	margin-left: 20px;
	text-decoration: none;
}
.menu a:hover{
	background-color: #ddd;
    color: black;
}
.menu a.active {
	background-color: #04AA6D;
    color: white;
}
@media screen and (max-width: 600px) {
  .menu a{
	  display: none;
	}
  .menu a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .menu.responsive {
	  position: absolute;
	  top: 130px;
	  left: 0;
	  width: 100%;
	  background-color: #BE1622;
	  padding: 10px 0;
  }
  .menu.responsive a.icon {
    position: absolute; 
    right: 20px;
    top: -130px;
  }
  .menu.responsive a {
    /* float: none; */
    display: block;
    text-align: left;
	padding: 14px 20px;
	width: 100%;
	/* border-top: 1px solid  */
  }
}
.View_more a{
	font-family: Helvetica;
	font-size: 14px;
	margin-left: 200px;
	text-decoration: none;
}
.stock{
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 30px;
}
#item {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
#item .product {
    width: 600px;
    padding: 20px;
}
#item .product img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
}
#item .name {
    text-align: center;
    font-size: 32px;
}

#item .price {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

#item .stock,
#item .color,
#item .description {
    margin-left: 10;
    margin-right: 10;
    font-size: 16px;
}
#item .buy_btn {
    font-size: 18px;
    padding: 10px 30px;
}
.back {
    display: block;
	margin-top: 50px;
    margin-bottom: 50px;
    color: #BE1622;
	font-family: Helvetica;
	font-size: 20px;
	margin-left: 1250px;
	margin-right: 30px;
	font-weight: bold;
}
.total{
	margin-left:40px;
}
.cart_item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px 40px;
    border-bottom: 1px solid #ccc;
}

.cart_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_image img {
    width: 80px;
    height: auto;
}

.cart_color {
    font-family: Helvetica;
    font-size: 14px;
    margin-top: 5px;
}

.cart_name {
    flex: 1;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    color: #BE1622;
}

.cart_price {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}
.cart_quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart_quantity button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #BE1622;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.cart_quantity span {
    font-family: Helvetica;
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.checkout {
    background-color: #9BCB4E;
	/* display: block; */
	/* margin-left: 1200px; */           
    margin: 20px 40px;            
	padding: 6px 15px;
	font-size: 14px;
	border-radius: 10px;
}

.checkout:hover {
    background-color: #339933;
}
.cart_buttons {
    display: flex;
    gap: 20px;        
    margin-left: 40px; 
    margin-top: 20px;  
	justify-content: space-between; 
    align-items: center;
}
#top {
    position: fixed;
    bottom: 40px;    
    left: 40px;    
    padding: 10px 20px;
    font-size: 16px;
    background-color: #BE1622;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 1000;   
}


